In [1]:
import csv
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
data_or = pd.read_csv('bread basket.csv') 
data_or.head()

   Transaction           Item         date_time period_day weekday_weekend
0            1          Bread  30-10-2016 09:58    morning         weekend
1            2   Scandinavian  30-10-2016 10:05    morning         weekend
2            2   Scandinavian  30-10-2016 10:05    morning         weekend
3            3  Hot chocolate  30-10-2016 10:07    morning         weekend
4            3            Jam  30-10-2016 10:07    morning         weekend

In [3]:
data = data_or.drop(columns=['date_time', 'weekday_weekend'])

In [4]:
morning = (data[data['period_day'] =="morning"])
morning

       Transaction            Item period_day
0                1           Bread    morning
1                2    Scandinavian    morning
2                2    Scandinavian    morning
3                3   Hot chocolate    morning
4                3             Jam    morning
...            ...             ...        ...
20465         9664          Coffee    morning
20466         9664           Bread    morning
20467         9665          Coffee    morning
20468         9665           Juice    morning
20469         9665  Spanish Brunch    morning

[8404 rows x 3 columns]

In [5]:
after = (data[data['period_day'] =="afternoon"]
       .groupby(['Transaction','Item'])
       .count().unstack().reset_index().fillna(0)
       .set_index('Transaction'))
after.columns = after.columns.get_level_values(1)
after

Item,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Bowl Nic Pitt,Bread,...,Tartine,Tea,The Nomad,Tiffin,Toast,Truffles,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
Transaction,,,,,,,,,,,,,,,,,,,,,
43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9683,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
eve = (data[data['period_day'] =="evening"])
eve

       Transaction          Item period_day
361            172         Bread    evening
362            172        Coffee    evening
363            173         Bread    evening
364            173        Muffin    evening
365            174        Coffee    evening
...            ...           ...        ...
20131         9502        Tiffin    evening
20132         9503           Tea    evening
20133         9503       Cookies    evening
20231         9550  Chicken Stew    evening
20232         9550      Sandwich    evening

[520 rows x 3 columns]

In [7]:
ngt = (data[data['period_day'] =="night"]
       .groupby(['Transaction','Item'])
       .count().unstack().reset_index().fillna(0)
       .set_index('Transaction')
      )

ngt.columns = ngt.columns.get_level_values(1)
ngt

Item,Hot chocolate,Juice,Mineral water,Scandinavian,Valentine's card,Vegan Feast
Transaction,,,,,,
3387,2.0,0.0,0.0,0.0,0.0,0.0
6588,0.0,0.0,0.0,0.0,1.0,0.0
6589,0.0,0.0,0.0,0.0,1.0,0.0
9448,0.0,1.0,1.0,0.0,0.0,0.0
9637,0.0,0.0,0.0,0.0,0.0,1.0
9638,0.0,0.0,0.0,0.0,0.0,1.0
9640,0.0,0.0,0.0,0.0,0.0,1.0
9641,0.0,0.0,0.0,0.0,0.0,1.0
9642,0.0,0.0,0.0,1.0,0.0,0.0
9643,0.0,0.0,0.0,0.0,0.0,1.0
9646,0.0,0.0,0.0,0.0,0.0,1.0
9648,0.0,0.0,0.0,0.0,0.0,1.0

In [8]:
def transformar_uno_cero(x):
    if x <= 0:
        return 0
    else:
        return 1

In [9]:
basket_sets = after.applymap(transformar_uno_cero)
frq_items = apriori(basket_sets, min_support = 0.05, use_colnames = True) 
frq_items

     support            itemsets
0   0.305758             (Bread)
1   0.136766              (Cake)
2   0.459815            (Coffee)
3   0.058951           (Cookies)
4   0.061505     (Hot chocolate)
5   0.115936          (Sandwich)
6   0.060719              (Soup)
7   0.169778               (Tea)
8   0.089998     (Coffee, Bread)
9   0.071920      (Cake, Coffee)
10  0.062291  (Sandwich, Coffee)
11  0.057182       (Tea, Coffee)

In [10]:
rules = association_rules(frq_items, metric="lift", min_threshold=.05)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Coffee),(Bread),0.459815,0.305758,0.089998,0.195726,0.640136,-0.050594,0.863192
1,(Bread),(Coffee),0.305758,0.459815,0.089998,0.294344,0.640136,-0.050594,0.765508
2,(Cake),(Coffee),0.136766,0.459815,0.071920,0.525862,1.143638,0.009033,1.139299
3,(Coffee),(Cake),0.459815,0.136766,0.071920,0.156410,1.143638,0.009033,1.023287
4,(Sandwich),(Coffee),0.115936,0.459815,0.062291,0.537288,1.168487,0.008982,1.167432

In [11]:
def bread_basket(df,support):
    df_local = df.copy()
    df_local = df_local.groupby(['Transaction','Item']).count().unstack().reset_index().fillna(0).set_index('Transaction')
    df_local.columns = df_local.columns.get_level_values(1)
    basket_sets = df_local.applymap(transformar_uno_cero)
    frq_items = apriori(basket_sets, min_support = support, use_colnames = True) 
    rules = association_rules(frq_items, min_threshold=support)
    return frq_items,rules

In [12]:
items,reglas = bread_basket(eve,0.05)
items

     support                    itemsets
0   0.053640  (Afternoon with the baker)
1   0.061303                 (Alfajores)
2   0.195402                     (Bread)
3   0.107280                      (Cake)
4   0.287356                    (Coffee)
5   0.076628                   (Cookies)
6   0.080460             (Hot chocolate)
7   0.057471                 (Medialuna)
8   0.172414                       (Tea)
9   0.080460                    (Tshirt)
10  0.061303              (Cake, Coffee)

In [13]:
data = data_or.drop(columns=['date_time', 'period_day'])
weekday = (data[data['weekday_weekend'] =="weekday"])
weekend = (data[data['weekday_weekend'] =="weekend"])

In [14]:
items,reglas = bread_basket(weekend,0.05)
reglas

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Coffee),(Bread),0.465060,0.344578,0.100301,0.215674,0.625906,-0.059948,0.835649
1,(Bread),(Coffee),0.344578,0.465060,0.100301,0.291084,0.625906,-0.059948,0.754588
2,(Cake),(Coffee),0.118675,0.465060,0.059337,0.500000,1.075130,0.004146,1.069880
3,(Coffee),(Cake),0.465060,0.118675,0.059337,0.127591,1.075130,0.004146,1.010220
4,(Tea),(Coffee),0.130120,0.465060,0.052711,0.405093,0.871054,-0.007803,0.899198
5,(Coffee),(Tea),0.465060,0.130120,0.052711,0.113342,0.871054,-0.007803,0.981077

In [17]:
groc = pd.read_csv('groceries - groceries.csv')
groc = groc.drop(columns=['Item(s)'])
ls = groc.fillna('0')
lista = []
for i in ls.values.tolist():
    lista += i
lista.remove('0')
lista = set(lista)
lista.remove('0')
df = pd.DataFrame(columns=lista)

In [18]:
for i in ls.values.tolist():
    row = {}
    for item in i:
        if item != '0':
            row[item] = 1
    df = df.append(row, ignore_index=True)

In [19]:
df = df.fillna(0)
df

,organic products,salad dressing,female sanitary products,canned beer,specialty vegetables,vinegar,red/blush wine,mayonnaise,skin care,processed cheese,...,sound storage medium,syrup,pudding powder,soap,candy,frozen potato products,kitchen utensil,ready soups,potato products,house keeping products
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9831,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9833,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9834,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
frq_items = apriori(df, min_support = 0.05, use_colnames = True) 
rules = association_rules(frq_items, min_threshold=0.05)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(other vegetables),(whole milk),0.193493,0.255516,0.074835,0.386758,1.513634,0.025394,1.214013
1,(whole milk),(other vegetables),0.255516,0.193493,0.074835,0.292877,1.513634,0.025394,1.140548
2,(rolls/buns),(whole milk),0.183935,0.255516,0.056634,0.307905,1.205032,0.009636,1.075696
3,(whole milk),(rolls/buns),0.255516,0.183935,0.056634,0.221647,1.205032,0.009636,1.048452
4,(yogurt),(whole milk),0.139502,0.255516,0.056024,0.401603,1.571735,0.020379,1.244132
5,(whole milk),(yogurt),0.255516,0.139502,0.056024,0.219260,1.571735,0.020379,1.102157

In [21]:
transactions = []
items = []
with open('groceries.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        transactions.append(row)
        for i in row:
            items.append(i)
        line_count += 1
items = set(items)

In [22]:
groc_2 = pd.DataFrame(columns = items)
for tran in transactions:
    row = {}
    for item in tran:
        row[item] = 1
    groc_2 = groc_2.append(row, ignore_index=True)
groc_2 = groc_2.fillna(0)
groc_2

,organic products,salad dressing,female sanitary products,canned beer,specialty vegetables,vinegar,red/blush wine,mayonnaise,skin care,processed cheese,...,sound storage medium,syrup,pudding powder,soap,candy,frozen potato products,kitchen utensil,ready soups,potato products,house keeping products
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9831,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9833,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9834,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
frq_items = apriori(groc_2, min_support = 0.05, use_colnames = True) 
rules = association_rules(frq_items, min_threshold=0.05)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(other vegetables),(whole milk),0.193493,0.255516,0.074835,0.386758,1.513634,0.025394,1.214013
1,(whole milk),(other vegetables),0.255516,0.193493,0.074835,0.292877,1.513634,0.025394,1.140548
2,(rolls/buns),(whole milk),0.183935,0.255516,0.056634,0.307905,1.205032,0.009636,1.075696
3,(whole milk),(rolls/buns),0.255516,0.183935,0.056634,0.221647,1.205032,0.009636,1.048452
4,(yogurt),(whole milk),0.139502,0.255516,0.056024,0.401603,1.571735,0.020379,1.244132
5,(whole milk),(yogurt),0.255516,0.139502,0.056024,0.219260,1.571735,0.020379,1.102157